extends layout

block content
  .container
    .col-md-6.col-md-offset-3
       
    - var proj=[]
      if (cartProducts) 
         proj=cartProducts


    

        div
           ul#list 

        div: form(method='post', class='form-vertical')
        fieldset

            div.form-group
            input.form-control(type='hidden', name='cart', value=cartProducts)


            div.form-actions
            input.btn.btn-primary(type='submit', value='Submit Quote')

        ul
          each val in proj
           li: a(href='/users/project/'+val.name) #{val.name} #{val.description} #{val.price} #{val.quantity}

        

        input#prdName(type='text', placeholder='enter name' )
        input#prdDescription(type='text', placeholder='enter desc')
        label Price
        input#prdPrice(type='number')
        label Quantity
        input#prdQuantity(type='number')
        button.btn.btn-primary(onclick='add_to_cart()') Add to Cart


