extends layout

block content
  .container
    .col-md-6.col-md-offset-3
      h1.display-4.m-b-2= title
      div: form(method='post', class='form-vertical')
        fieldset

         div.form-group
          label Tittle:
          input.form-control(name='tittle', value=project.tittle, autofocus)

          div.form-group
            label Description:
            input.form-control(name='description',value=project.description)

          div.form-group
            label Deadline:
            input.form-control(name='deadline', type='date',value=moment(project.deadLine).format("YYYY-MM-DD"))


          div.form-group
            label Type:
            input.form-control(name='type',value=project.type)
      
          ul
          each val in project.costs
           li:  #{val.product.name}


          div.form-actions
            a.btn.btn-danger(href='/users/deleteproject/'+project._id) Delete
            a.btn.btn-info(href='/users/addCostProject/'+project._id) Add Cost Project
            a.btn.btn-info(href='/users/checkout/'+project._id) Checkout
            input.btn.btn-primary(type='submit', value='Update Project')
