extends layout

block content
  .container
    .col-md-6.col-md-offset-3
      h1.display-4.m-b-2= title
      div: form(method='post', class='form-vertical')
        fieldset

         div.form-group
          label Name:
          input.form-control(name='name', value=user.name, autofocus)

          div.form-group
            label UserId:
            input.form-control(name='userid',value=user.userid)

          div.form-group
            label Email:
            input.form-control(name='email', type='email', value=user.email)

            div.form-group
            
              input.form-control(name='_id', type='hidden', value=user._id)

          div.form-actions
            input.btn.btn-primary(type='submit', value='Update')
